*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat','Arial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}